:root {
	--resolts-column: 2;
}

.ListOfGifs {
	display: grid;
	min-height: 100vh;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
	min-height: 100vh;
	grid-gap: 0 16px;
	grid-template-rows: masonry;
}

.ListOfGifs-item {
	background-color: #eee;
	display: inline-block;
	width: 100%; /* es para que tenga el ancho de la columna */
}

@media (min-width: 600px) {
	/* aqui hacemos  que se vea en 3 columnas desde 600px */
	:root {
		--resolts-column: 3;
	}
}

@media (min-width: 900px) {
	/* aqui hacemos  que se vea en 4 columnas desde 900px */
	:root {
		--resolts-column: 4;
	}
}
